body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #fdfdfd;
    color: #333;
}

header{
    background: #222;
    color: #fff;
    padding: 10px;
}

nav {
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
    color: red;
    background-color: lightgray;
}

p {
    font-size: 28px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 1px;
    background: #222;
    color: #fff;
    position: fixed;
    bottom: 0;

}

.xarxes img{
    width: 40px;
    margin: 0 5px;
    justify-content: center;
}

div{
    text-align: center;
    margin: 10px;
}
